apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: telegram-bot-api-network-policy
  namespace: {{ .Release.Namespace }}
spec:
  podSelector:
    matchLabels:
      lies.exposed/name: telegram-bot-api
  policyTypes:
    - Ingress
  ingress:
    - from:
      - podSelector:
          matchLabels:
            lies.exposed/name: telegram
