apiVersion: v1
kind: Service
metadata:
  name: localai
{{ tuple . "localai" | include "localai.labels" | indent 2 }}
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    lies.exposed/name: localai
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
