apiVersion: v1
kind: Service
metadata:
  name: localai
  labels:
    lies.exposed/name: localai
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/namespace: {{ .Release.Namespace | quote }}
    app.kubernetes.io/component: ai
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  selector:
    lies.exposed/name: localai
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
