---
version: 2
updates:
  # ignore all updates for the @liexp/packages
  - package-ecosystem: "npm"
    directories:
      - "/packages/@liexp/*"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "*"

  - package-ecosystem: "npm"
    directories:
      - "/"
      - "/packages/@liexp/core"
      - "/packages/@liexp/backend"
      - "/packages/@liexp/test"
      - "/packages/@liexp/shared"
      - "/packages/@liexp/ui"
      - "/services/api"
      - "/services/web"
      - "/services/ai-bot"
      - "/services/worker"
      - "/services/admin-web"
      - "/services/storybook"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    target-branch: "daily"
    versioning-strategy: increase
    allow:
      # Allow both direct and indirect updates for all packages
      - dependency-type: "direct"
    ignore:
      - dependency-name: "@types/express"
        versions: ["5.x"]
      - dependency-name: "@types/mime"
        versions: ["2.x", "3.x", "4.x"]
      - dependency-name: "fast-check"
        versions: ["4.x"]
      - dependency-name: "query-string"
        versions: ["8.x", "9.x"]
      - dependency-name: react
        versions: ["19.x"]
      - dependency-name: react-dom
        versions: ["19.x"]
      - dependency-name: "@types/react"
        versions: ["19.x"]
      - dependency-name: "@types/react-dom"
        versions: ["19.x"]
    groups:
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
      blocknote:
        patterns:
          - "@blocknote/*"
      langchain:
        patterns:
          - "@langchain/*"
          - "langchain"
      vite:
        patterns:
          - "@vitejs/*"
          - "vite*"
      eslint:
        patterns:
          - "@typescript-eslint/*"
          - "typescript-eslint*"
          - "@eslint/*"
          - "eslint*"
          - "eslint"

      mui:
        patterns:
          - "*mui*"
      react-admin:
        patterns:
          - "ra-*"
          - "react-core"
          - "react-admin"
      react-router:
        patterns:
          - "react-router*"

      storybook:
        patterns:
          - "@storybook/*"
          - "storybook"
      visx:
        patterns:
          - "*visx*"
