# don't ever lint node_modules
node_modules

# don't lint build output (make sure it's set to your correct build folder name)
public
lib
build

# don't lint TypeScript types definition
typings
*.d.ts
**/__tests__/**
**/migrations/**
vite*.config.js
commitlint.config.js