{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "baseui", "graphql"],
  "extends": [
    "standard-with-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "baseui/deprecated-theme-api": "warn",
    "baseui/deprecated-component-api": "warn",
    "baseui/no-deep-imports": "warn",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../*"]
      }
    ],
    "react/prop-types": ["off"],
    "no-console": "error",
    "@typescript-eslint/restrict-template-expressions": ["off"],
    "@typescript-eslint/no-redeclare": ["off"]
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  }
}
