{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "standard-with-typescript",
    "prettier",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "project": [
      "./tsconfig.test.json",
      "./packages/@econnessione/*/tsconfig.json",
      "./services/*/tsconfig.json"
    ]
  },
  "rules": {
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["moment"]
      }
    ],
    "no-console": "error",
    "@typescript-eslint/restrict-template-expressions": ["off"],
    "@typescript-eslint/no-redeclare": ["off"],
    "@typescript-eslint/return-await": ["error"],
    "@typescript-eslint/promise-function-async": ["off"],
    "@typescript-eslint/strict-boolean-expressions": ["off"]
  }
}
