public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

node-linker=hoisted

link-workspace-packages=deep
prefer-workspace-packages=true

# keep the PNPM legacy workspace hoisting behavior
inject-workspace-packages=false