public-hoist-pattern[]=*storybook*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=*rollup*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

node-linker=hoisted

link-workspace-packages=true
prefer-workspace-packages=true