services:
  db.liexp.dev:
    image: postgres:17
    ports:
      - "8432:5432"
    environment:
      POSTGRES_USER: liexp
      POSTGRES_PASSWORD: liexp-password
      POSTGRES_DB: liexp
    restart: unless-stopped
    volumes:
      - ./services/api/db/dump:/docker-entrypoint-initdb.d
      - db-data:/var/lib/postgresql/data
    networks:
      - reverseproxy

  fra1.space.liexp.dev:
    image: minio/minio:RELEASE.2024-08-03T04-33-23Z
    command: server --console-address ":9001" /data
    ports:
      - "9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      MINIO_ROOT_USER: space-access-key-id
      MINIO_ROOT_PASSWORD: space-access-key-secret-id
      VIRTUAL_HOST: fra1.space.liexp.dev
      VIRTUAL_PORT: 9000
    volumes:
      - space-data:/data
    restart: on-failure
    networks:
      - reverseproxy
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://fra1.space.liexp.dev:9000/minio/health/live"]
    #   interval: 10s
    #   timeout: 20s
    #   retries: 3

  redis.liexp.dev:
    restart: always
    image: "redis:7.2"
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - reverseproxy

  api.liexp.dev:
    restart: always
    build:
      context: .
      target: dev
      dockerfile: api.Dockerfile
    command: pnpm docker:dev
    working_dir: /usr/src/app/services/api
    env_file:
      - ./services/api/.env
      - ./services/api/.env.local
    environment:
      NODE_ENV: development
      DEBUG: "@liexp*"
      DB_HOST: db.liexp.dev
      DB_PORT: 5432
      SERVER_PORT: 80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api.liexp.dev/v1/healthcheck"]
      interval: 10s
      timeout: 20s
      retries: 10
      start_period: 15s
    depends_on:
      - db.liexp.dev
      - fra1.space.liexp.dev
      - redis.liexp.dev
    volumes:
      - api-node-modules:/usr/src/app/node_modules
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/api:/usr/src/app/services/api:cached
    mem_limit: 1G
    networks:
      - reverseproxy

  worker.liexp.dev:
    build:
      context: .
      target: dev
      dockerfile: worker.Dockerfile
    env_file:
      - ./services/worker/.env
      - ./services/worker/.env.local
    environment:
      TG_BOT_POLLING: "true"
      NODE_ENV: development
      DEBUG: "@liexp*"
      DB_HOST: db.liexp.dev
      DB_PORT: 5432
    command: pnpm docker:dev
    working_dir: /usr/src/app/services/worker
    depends_on:
      - db.liexp.dev
      - fra1.space.liexp.dev
      - redis.liexp.dev
    volumes:
      - worker-node-modules:/usr/src/app/node_modules
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/worker:/usr/src/app/services/worker:ro
      - ./services/worker/config:/usr/src/app/services/worker/config:cached
      - ./services/api/temp:/usr/src/app/services/worker/temp:cached
    mem_limit: 512M
    restart: always
    networks:
      - reverseproxy
    logging:
      driver: "json-file"
      options:
        max-file: 1
        max-size: 1m

  ai-bot:
    build:
      context: .
      target: production
      dockerfile: ai-bot.Dockerfile
    env_file:
      - ./services/ai-bot/.env
      - ./services/ai-bot/.env.local
    command: pnpm docker:dev
    working_dir: /home/node/services/ai-bot
    volumes:
      - ./services/ai-bot/package.json:/home/node/package.json:cached
      - ./services/ai-bot/temp:/home/node/temp:rw
      - ./services/ai-bot/build:/home/node/build:cached
      - ./services/ai-bot/config/ai-bot.config.json:/home/node/config/ai-bot.config.json:rw
    restart: always
    mem_limit: 512M
    depends_on:
      - api.liexp.dev
    networks:
      - reverseproxy

  liexp.dev:
    build:
      context: .
      target: dev
      dockerfile: web.Dockerfile
    env_file:
      - ./services/web/.env
    environment:
      VIRTUAL_PORT: 80
    ports:
      # hmr port
      - "127.0.0.1:24678:24678"
    volumes:
      - web-node-modules:/usr/src/app/node_modules
      - ./tsconfig.json:/usr/src/app/tsconfig.json
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/web:/usr/src/app/services/web:cached
    working_dir: /usr/src/app/services/web
    mem_limit: 2G
    tty: true
    stdin_open: true
    depends_on:
      - api.liexp.dev
      - fra1.space.liexp.dev
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/healthcheck"]
      interval: 10s
      timeout: 20s
      retries: 10
      start_period: 15s
    networks:
      - reverseproxy

  admin.liexp.dev:
    build:
      context: .
      target: dev
      dockerfile: adminWeb.Dockerfile
    env_file:
      - ./services/admin-web/.env
    volumes:
      - admin-node-modules:/usr/src/app/node_modules
      - ./tsconfig.json:/usr/src/app/tsconfig.json
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/admin-web:/usr/src/app/services/admin-web:cached
    working_dir: /usr/src/app/services/admin-web
    command: pnpm docker:dev
    tty: true
    depends_on:
      - liexp.dev
      - api.liexp.dev
      - fra1.space.liexp.dev
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://liexp.dev:4001/"]
    #   interval: 10s
    #   timeout: 20s
    #   retries: 10
    #   start_period: 15s
    networks:
      - reverseproxy

  localai.liexp.dev:
    image: localai/localai:master-aio-cpu
    # For Intel GPUs decomment the following:
    # image: localai/localai:latest-aio-gpu-intel
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/readyz"]
      interval: 1m
      timeout: 20m
      retries: 5
    ports:
      - "8080:8080"
    tty: true
    environment:
      DEBUG: true
      # REBUILD: true
      VIRTUAL_HOST: localai.liexp.dev
      VIRTUAL_PORT: 8080
      LOCALAI_CORS: 0
    env_file:
      - ./services/ai-bot/.env.local
    volumes:
      - ./localai/models:/models:cached
      - ./localai/backends:/backends:cached
    # devices:
    #   - /dev/dri
    networks:
      - reverseproxy
    cpu_count: 2

volumes:
  db-data: {}
  api-node-modules: {}
  worker-node-modules: {}
  ai-bot-node-modules: {}
  web-node-modules: {}
  admin-node-modules: {}
  space-data: {}
  redis-data: {}

networks:
  reverseproxy:
    external: true
