services:
  db-test.liexp.dev:
    image: postgres:17
    ports:
      - "127.0.0.1:9432:5432"
    environment:
      POSTGRES_USER: liexp
      POSTGRES_PASSWORD: liexp-password
      POSTGRES_DB: liexp-test
    volumes:
      - ./services/api/db/psql-create-database.sh:/docker-entrypoint-initdb.d/psql-create-database.sh

  db.liexp.dev:
    image: postgres:17
    ports:
      - "127.0.0.1:8432:5432"
    environment:
      POSTGRES_USER: liexp
      POSTGRES_PASSWORD: liexp-password
      POSTGRES_DB: liexp
      VIRTUAL_HOST: db.liexp.dev
      VIRTUAL_PORT: 5432
    restart: on-failure
    volumes:
      - ./services/api/db/dump:/docker-entrypoint-initdb.d
      - db-data:/var/lib/postgresql/data
    networks:
      - reverseproxy

  fra1.space.liexp.dev:
    image: minio/minio:latest
    command: server --console-address ":9001" /data
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9001:9001"
    environment:
      MINIO_ROOT_USER: space-access-key-id
      MINIO_ROOT_PASSWORD: space-access-key-secret-id
      VIRTUAL_HOST: fra1.space.liexp.dev
      VIRTUAL_PORT: 9000
    volumes:
      - space-data:/data
    restart: on-failure
    networks:
      - reverseproxy
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://fra1.space.liexp.dev:9000/minio/health/live"]
    #   interval: 10s
    #   timeout: 20s
    #   retries: 3

  redis.liexp.dev:
    restart: always
    image: "redis:7.2"
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - reverseproxy

  api-base:
    build:
      context: .
      target: dev
      dockerfile: api.Dockerfile
    env_file:
      - ./services/api/.env
      - ./services/api/.env.local
    environment:
      NODE_ENV: development
      DEBUG: "@liexp*"
      DB_HOST: db.liexp.dev
      DB_PORT: 5432
      SERVER_PORT: 80
    depends_on:
      - db.liexp.dev
      - fra1.space.liexp.dev
      - redis.liexp.dev
    volumes:
      - api-node-modules:/usr/src/app/node_modules
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/api:/usr/src/app/services/api:cached
      - ./services/worker/config:/usr/src/app/services/api/config:ro
    working_dir: /usr/src/app/services/api

  api.liexp.dev:
    extends: api-base
    depends_on:
      - db.liexp.dev
      - fra1.space.liexp.dev
    healthcheck:
      test: ["CMD", "curl", "-f", "http://api.liexp.dev/v1/healthcheck"]
      interval: 10s
      timeout: 20s
      retries: 10
      start_period: 15s
    command: pnpm docker:dev
    restart: always
    mem_limit: 1G
    networks:
      - reverseproxy

  worker.liexp.dev:
    build:
      context: .
      target: dev
      dockerfile: worker.Dockerfile
    env_file:
      - ./services/worker/.env
      - ./services/worker/.env.local
    environment:
      TG_BOT_POLLING: "true"
      NODE_ENV: development
      DEBUG: "@liexp*"
      DB_HOST: db.liexp.dev
      DB_PORT: 5432
    command: pnpm docker:dev
    working_dir: /usr/src/app/services/worker
    depends_on:
      - db.liexp.dev
      - fra1.space.liexp.dev
      - redis.liexp.dev
    volumes:
      - worker-node-modules:/usr/src/app/node_modules
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/worker:/usr/src/app/services/worker:ro
      - ./services/worker/config:/usr/src/app/services/worker/config:cached
      - ./services/api/temp:/usr/src/app/services/worker/temp:cached
    mem_limit: 512M
    restart: always
    networks:
      - reverseproxy

  ai-bot:
    build:
      context: .
      target: dev
      dockerfile: ai-bot.Dockerfile
    command: ["node", "build/run-esbuild.js"]
    env_file:
      - ./services/ai-bot/.env.local
      - ./services/ai-bot/.env
    volumes:
      - ./services/ai-bot/temp:/home/node/temp:rw
      - ./services/ai-bot/build:/home/node/build:cached
      - ./services/ai-bot/ai-bot.config.json:/home/node/ai-bot.config.json:rw
    restart: always
    mem_limit: 512M
    depends_on:
      - api.liexp.dev
    networks:
      - reverseproxy

  liexp.dev:
    build:
      context: .
      target: dev
      dockerfile: web.Dockerfile
    env_file:
      - ./services/web/.env
    environment:
      VIRTUAL_PORT: 80
    ports:
      # hmr port
      - "127.0.0.1:24678:24678"
    volumes:
      - web-node-modules:/usr/src/app/node_modules
      - ./tsconfig.json:/usr/src/app/tsconfig.json
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/web:/usr/src/app/services/web:cached
    working_dir: /usr/src/app/services/web
    command: pnpm docker:dev
    mem_limit: 2G
    tty: true
    stdin_open: true
    depends_on:
      - api.liexp.dev
      - fra1.space.liexp.dev
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://liexp.dev/healthcheck"]
    #   interval: 10s
    #   timeout: 20s
    #   retries: 10
    #   start_period: 15s
    networks:
      - reverseproxy

  admin.liexp.dev:
    build:
      context: .
      target: dev
      dockerfile: adminWeb.Dockerfile
    env_file:
      - ./services/admin-web/.env
    volumes:
      - admin-node-modules:/usr/src/app/node_modules
      - ./tsconfig.json:/usr/src/app/tsconfig.json
      - ./packages/@liexp:/usr/src/app/packages/@liexp:ro
      - ./services/admin-web:/usr/src/app/services/admin-web:cached
    working_dir: /usr/src/app/services/admin-web
    command: pnpm docker:dev
    tty: true
    depends_on:
      - liexp.dev
      - api.liexp.dev
      - fra1.space.liexp.dev
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://liexp.dev:4001/"]
    #   interval: 10s
    #   timeout: 20s
    #   retries: 10
    #   start_period: 15s
    networks:
      - reverseproxy

volumes:
  db-data: {}
  api-node-modules: {}
  worker-node-modules: {}
  ai-bot-node-modules: {}
  web-node-modules: {}
  admin-node-modules: {}
  space-data: {}
  redis-data: {}

networks:
  reverseproxy:
    external: true
