version: '3.7'

services:

  econnessione:
    build:
      context: .
      target: build
    scale: 0

  db-test:
    image: postgres:12
    ports:
      - "127.0.0.1:9432:5432"
    environment:
      POSTGRES_USER: econnessione
      POSTGRES_PASSWORD: econnessione-password
      POSTGRES_DB: econnessione-test
    volumes:
      - db-test-data:/var/lib/postgresql/data

  db:
    image: postgres:12
    ports:
      - "8432:5432"
    expose:
      - "8432"
    environment:
      POSTGRES_USER: econnessione
      POSTGRES_PASSWORD: econnessione-password
      POSTGRES_DB: econnessione
    volumes:
      - ./services/api/db_dump/:/docker-entrypoint-initdb.d/
      - db-data:/var/lib/postgresql/data

  api:
    container_name: econnessione-api
    image: econnessione_econnessione
    env_file:
      - .env.local
    environment:
      DEBUG: "@eco*"
      DB_HOST: db
      DB_PORT: 5432
    links:
      - db
    depends_on:
      - db
    ports:
      - "4010:4010"
    volumes:
      - ./packages/@econnessione:/app/packages/@econnessione:delegated
      - ./services/api:/app/services/api:delegated
    tty: true
    stdin_open: true
    working_dir: /app/services/api
    command: yarn develop
    restart: always

  web:
    container_name: econnessione-web
    image: econnessione_econnessione
    env_file:
      - ./services/web/.env.local
    environment:
      SKIP_PREFLIGHT_CHECK: "true"
    ports:
      - "4000:4000"
    volumes:
      - ./.eslintrc:/app/.eslintrc
      - ./tsconfig.json:/app/tsconfig.json
      - ./packages/@econnessione:/app/packages/@econnessione:delegated
      - ./services/web:/app/services/web:delegated
    working_dir: /app/services/web
    command: yarn start
    tty: false
    links:
      - api
    restart: always

  admin-web:
    container_name: econnessione-admin-web
    image: econnessione_econnessione
    env_file:
      - ./services/admin-web/.env.local
    environment:
      SKIP_PREFLIGHT_CHECK: "true"
    ports:
      - "4001:4001"
    volumes:
      - ./.eslintrc:/app/.eslintrc
      - ./tsconfig.json:/app/tsconfig.json
      - ./packages/@econnessione:/app/packages/@econnessione:delegated
      - ./services/admin-web:/app/services/admin-web:delegated
    working_dir: /app/services/admin-web
    command: yarn start
    tty: false
    links:
      - api
    restart: always

volumes:
  db-data: {}
  db-test-data: {}
  node_modules: {}
  api-node_modules: {}
  web-node_modules: {}
  admin-web-node_modules: {}
  api-space: {}