{{- if .Values.worker.generateThumbnails.enabled }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: worker-generate-thumbnails
  namespace: {{ .Release.Namespace }}
{{ tuple . "worker-generate-thumbnails" | include "worker.labels" | indent 2 }}
spec:
  schedule: {{ .Values.worker.generateThumbnails.schedule | default "0 2 * * *" | quote }} # Daily at 2 AM UTC
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
{{ include "worker.job.spec" (dict "timeout" 3600 "backoffLimit" 2) | indent 6 }}
      template:
        metadata:
{{ tuple . "worker-generate-thumbnails" | include "worker.labels" | indent 10 }}
        spec:
{{ include "worker.job.podSpec" . | indent 10 }}
          containers:
            - {{ include "worker.job.container" (dict "name" "worker-generate-thumbnails" "command" (list "node" "./build/bin/cli.js" "generate-missing-thumbnails") "jobConfig" .Values.worker.generateThumbnails) | nindent 14 }}
{{- end }}