apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: {{ .Release.Namespace }}
{{ tuple . "redis" | include "redis.labels" | indent 2 }}
spec:
  selector:
    lies.exposed/name: redis
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 6379
      targetPort: 6379
