{
  "extends": ["../../.eslintrc", "plugin:react/recommended"],
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@mui/*/*/*", "!@mui/core/test-utils/*"]
      }
    ],
    "react/prop-types": ["off"],
    "no-console": 1
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "./tsconfig.json"
      }
    },
    "react": {
      "version": "16.12.0"
    }
  }
}
