{
  "extends": [
    "../../.eslintrc",
    "plugin:react/recommended"
  ],
  "plugins": ["@typescript-eslint", "react"],
  "rules": {
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../*"]
      }
    ],
    "react/prop-types": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"]
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  }
}
