/** Lora **/

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Bold.eot");
  src: url("./assets/fonts/Lora-Bold.woff") format("woff"),
    url("./assets/fonts/Lora-Bold.ttf") format("truetype"),
    url("./assets/fonts/Lora-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-BoldItalic.eot");
  src: url("./assets/fonts/Lora-BoldItalic.woff") format("woff"),
    url("./assets/fonts/Lora-BoldItalic.ttf") format("truetype"),
    url("./assets/fonts/Lora-BoldItalic.svg") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Regular.eot");
  src: url("./assets/fonts/Lora-Regular.woff") format("woff"),
    url("./assets/fonts/Lora-Regular.ttf") format("truetype"),
    url("./assets/fonts/Lora-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora-Italic.eot");
  src: url("./assets/fonts/Lora-Italic.woff") format("woff"),
    url("./assets/fonts/Lora-Italic.ttf") format("truetype"),
    url("./assets/fonts/Lora-Italic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Signika";
  src: url("./assets/fonts/Signika-Bold.eot");
  src: url("./assets/fonts/Signika-Bold.woff") format("woff"),
    url("./assets/fonts/Signika-Bold.ttf") format("truetype"),
    url("./assets/fonts/Signika-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("./assets/fonts/Signika-Light.eot");
  src: url("./assets/fonts/Signika-Light.woff") format("woff"),
    url("./assets/fonts/Signika-Light.ttf") format("truetype"),
    url("./assets/fonts/Signika-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Signika";
  src: url("./assets/fonts/Signika-Regular.eot");
  src: url("./assets/fonts/Signika-Regular.woff") format("woff"),
    url("./assets/fonts/Signika-Regular.ttf") format("truetype"),
    url("./assets/fonts/Signika-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
