apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: telegram-nginx-log-pv-claim
  namespace: {{ .Release.Namespace }}
{{ tuple . "telegram-nginx-log-pv-claim" | include "tg.labels" | indent 2 }}
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
