apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token
  namespace: {{ .Release.Namespace }}
  labels:
    lies.exposed/name: cloudflare-api-token
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/namespace: {{ .Release.Namespace | quote }}
    app.kubernetes.io/managed-by: Helm
type: Opaque
data:
{{ if .Files.Get "config/cloudflare/token.txt" }}
  apiToken: {{ .Files.Get "config/cloudflare/token.txt" | b64enc }}
{{ else }}
{{ fail "you need to supply your license file! add 'config/cloudflare/token.txt' to your chart 'config' directory." }}
{{ end }}
