services:
  api-base:
    image: ghcr.io/lies-exposed/liexp-api:alpha-latest
    user: $API_UID:$API_GID
    env_file:
      - .env.api
    volumes:
      - ./certs/:/prod/api/certs/:ro
      - ./temp/:/prod/api/temp/:rw
      - ./temp/db/:/prod/api/db/:rw
      - ./config/:/prod/api/config/:rw
    working_dir: /prod/api
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 10m

  api:
    extends: api-base
    container_name: liexp-api
    ports:
      - "127.0.0.1:4010:4010"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4010/v1/healthcheck"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 30s
    command: pnpm start
    mem_limit: 1G
    depends_on:
      - redis

  worker:
    extends: api-base
    container_name: liexp-worker
    environment:
      TG_BOT_POLLING: "true"
    command: node build/worker/index.js
    mem_limit: 512M
    depends_on:
      - telegram-bot-api
      - redis
    network_mode: "host"

  ai-bot:
    build:
      context: .
      dockerfile: ai-bot.Dockerfile
      target: production
    container_name: liexp-ai-bot
    restart: always
    env_file:
      - .env.ai-bot
    volumes:
      - ./ai-bot-temp/:/home/node/temp/:rw
      - ./ai-bot.config.json:/home/node/ai-bot.config.json:rw
    mem_limit: 512M
    depends_on:
      - api
    network_mode: "host"

  web:
    image: ghcr.io/lies-exposed/liexp-web:alpha-latest
    container_name: liexp-web
    env_file:
      - .env.web
    ports:
      - "127.0.0.1:4020:4020"
    depends_on:
      - api
    restart: always
    mem_limit: 512M
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 10m

  redis:
    image: redis:7.2
    container_name: liexp-redis
    restart: always
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - ./redis-data:/data

  telegram-bot-api:
    image: aiogram/telegram-bot-api:latest
    container_name: liexp-tg-bot-api
    env_file:
      - .env.api
    environment:
      TELEGRAM_API_ID: ${TELEGRAM_API_ID}
      TELEGRAM_API_HASH: ${TELEGRAM_API_HASH}
      TELEGRAM_LOCAL: 1
      TELEGRAM_VERBOSITY: 1
    volumes:
      - /var/lib/telegram-bot-api:/var/lib/telegram-bot-api:rw
    ports:
      - "127.0.0.1:8081:8081"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: 5
        max-size: 10m
