$arrow-size: 30px;

.slick-prev {
  left: 0;
  z-index: 100;
  height: $arrow-size;
  width: $arrow-size;

  &::before {
    font-size: $arrow-size;
  }
}

.slick-next {
  right: 0;
  height: $arrow-size;
  width: $arrow-size;

  &::before {
    font-size: 30px;
  }
}
