apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: {{ .Release.Namespace }}
{{ tuple . "api" | include "api.labels" | indent 2 }}

spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4010
  selector:
    lies.exposed/name: api
