{
  "extends": ["../../.eslintrc", "plugin:react/recommended"],
  "plugins": ["@typescript-eslint", "react", "baseui"],
  "rules": {
    "baseui/deprecated-theme-api": "warn",
    "baseui/deprecated-component-api": "warn",
    "baseui/no-deep-imports": "warn",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["../*"]
      }
    ],
    "react/prop-types": ["off"],
    "@typescript-eslint/no-unused-vars": ["off"]
  },
  "settings": {
    "react": {
      "version": "16.12.0"
    }
  }
}
