apiVersion: v1
kind: Secret
metadata:
  name: db-ca-certificate
  namespace: {{ .Release.Namespace }}
  labels:
    lies.exposed/name: db-ca-certificate
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/namespace: {{ .Release.Namespace | quote }}
    app.kubernetes.io/managed-by: Helm
type: Opaque
data:
{{ if .Files.Get "config/certs/prod-db-ca-certificate.crt" }}
  db-ca-certificate.crt: {{ .Files.Get "config/certs/prod-db-ca-certificate.crt" | b64enc }}
{{ else }}
{{ fail "you need to supply your license file! add 'config/certs/prod-db-ca-certificate.crt' to your chart 'config' directory." }}
{{ end }}
