{
  "extends": "../../.eslintrc",
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": [
      "./tsconfig.test.json"
    ]
  },
  "rules": {
    "@typescript-eslint/restrict-plus-operands": ["off"]
  }
}
