{
  "extends": "../../.eslintrc",
  "root": true,
  "parserOptions": {
    "tsconfigRootDir": "./",
    "project": [
      "./tsconfig.json"
    ]
  },
  "rules": {
    "@typescript-eslint/restrict-plus-operands": ["off"]
  }
}
