{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "module": {
    "type": "commonjs"
  },
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true,
      "dynamicImport": true
    },
    "target": "es2022",
    "transform": {
      "decoratorMetadata": true,
      "legacyDecorator": true
    },
    "keepClassNames": true,
    "baseUrl": "./src",
    "paths": {
      "#io/*": ["io/*"],
      "#entities/*": ["entities/*"],
      "#flows/*": ["flows/*"],
      "#routes/*": ["routes/*"],
      "#utils/*": ["utils/*"]
    }
  },
  "minify": false
}
