@import "./font.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "jsoneditor-react/es/editor.min.css";

html,
body,
body > #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

p,
a {
  display: inline;
}

em {
  font-style: italic;
}

.blockquote p {
  margin: 0;
}

.anchor svg {
  margin-right: 10px;
}
