apiVersion: v1
kind: Service
metadata:
  name: admin-web
{{ tuple . "admin-web" | include "adminWeb.labels" | indent 2 }}
spec:
  type: ClusterIP
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  selector:
    lies.exposed/name: admin-web
    app.kubernetes.io/instance: {{ .Release.Name | quote }}