@import "../../node_modules/source-serif-pro/source-serif-pro.css";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: normal;
}

html,
body,
body > div,
body > div > div,
body > div > div {
  height: 100%;
  width: 100%;
  margin: 0;
}

.footnotes ol li {
  font-size: 12px;
  p,
  a {
    font-size: 12px;
    display: inline;
  }
}

em {
  font-style: italic;
}

.blockquote p {
  margin: 0;
}

.anchor svg {
  margin-right: 10px
}