name: Deploy Admin Web

on:
  push:
    branches:
      - release/alpha
    paths:
      - ".github/workflows/**"
      - "packages/@liexp/core/**"
      - "packages/@liexp/shared/**"
      - "packages/@liexp/ui/**"
      - "services/admin-web/**"

env:
  ADMIN_WEB_IMAGE_TAG: ghcr.io/lies-exposed/liexp-admin-web:alpha-latest

jobs:
  deploy-admin-web:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [23.x]

    steps:
      - uses: actions/checkout@v4

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_IO_USERNAME }}
          password: ${{ secrets.GHCR_IO_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Update .env file for Admin WEB
        run: cp ./services/admin-web/.env.prod ./services/admin-web/.env

      - name: Build Admin WEB image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./adminWeb.Dockerfile
          push: true
          tags: ${{ env.ADMIN_WEB_IMAGE_TAG }}
