name: Deploy Alpha WEB

on:
  push:
    branches:
      - release/alpha
    paths:
      - ".github/workflows/**"
      - "packages/@liexp/core/**"
      - "packages/@liexp/shared/**"
      - "packages/@liexp/ui/**"
      - "services/web/**"

env:
  WEB_IMAGE_TAG: ghcr.io/lies-exposed/liexp-web:alpha-latest

jobs:
  deploy-web:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4

      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_IO_USERNAME }}
          password: ${{ secrets.GHCR_IO_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Update .env file for WEB
        run: cp ./services/web/.env.alpha ./services/web/.env

      - name: Build WEB image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./web.Dockerfile
          push: true
          tags: ${{ env.WEB_IMAGE_TAG }}
