name: Deploy AI Bot

on:
  push:
    branches:
      - release/alpha
    paths:
      - ".github/workflows/**"
      - "packages/@liexp/core/**"
      - "packages/@liexp/shared/**"
      - "packages/@liexp/backend/**"
      - "services/ai-bot/**"

jobs:
  deploy-ai-bot:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [23.x]

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-deps
        with:
          hash: ${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: ./.github/actions/build-packages
        with:
          hash: ${{ github.sha }}

      - name: Build
        run: |
          pnpm ai-bot build
          pnpm ai-bot pkg

      - name: Deploy on Server
        uses: burnett01/rsync-deployments@7.0.2
        with:
          switches: -arP
          path: services/ai-bot/build/ai-bot
          remote_path: ${{ secrets.AI_BOT_DEPLOY_PATH }}
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: ${{ secrets.SSH_USERNAME }}
          remote_key: ${{ secrets.SSH_KEY }}
