name: Deploy Alpha

on:
  push:
    branches:
      - release/alpha

env:
  API_IMAGE_TAG: ghcr.io/lies-exposed/liexp-api:alpha-latest
  WEB_IMAGE_TAG: ghcr.io/lies-exposed/liexp-web:alpha-latest

jobs:
  deploy-web:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "yarn"
          cache-dependency-path: yarn.lock

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_IO_USERNAME }}
          password: ${{ secrets.GHCR_IO_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Update .env file for WEB
        run:  cp ./services/web/.env.alpha ./services/web/.env

      - name: Build WEB image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./web.Dockerfile
          push: true
          tags: ${{ env.WEB_IMAGE_TAG }}

  deploy-api:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "yarn"
          cache-dependency-path: yarn.lock

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_IO_USERNAME }}
          password: ${{ secrets.GHCR_IO_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build API image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./api.Dockerfile
          push: true
          tags: ${{ env.API_IMAGE_TAG }}