name: Packages - Pull Request

on:
  pull_request:
    branches:
      - daily
      - release/alpha
      - master
    paths:
      - ".github/workflows/**"
      - "packages/**"

jobs:
  pull_request:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-deps
        with:
          hash: ${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: ./.github/actions/build-packages
        with:
          hash: ${{ github.sha }}

      - name: Lint code
        run: |
          pnpm core lint
          pnpm shared lint
          pnpm test lint
          pnpm backend lint
          pnpm ui lint

      - name: Run tests
        env:
          DEBUG: "-@liexp*"
        run: |
          pnpm shared test
          pnpm backend test
