name: Root - Pull Request

on:
  pull_request:
    branches:
      - daily

jobs:
  knip-report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: ./.github/actions/install-deps
        with:
          hash: ${{ hashFiles('**/pnpm-lock.yaml') }}

      - uses: ./.github/actions/build-packages
        with:
          hash: ${{ github.sha }}

      - name: Post the knip results
        run: pnpm knip
