name: Web - Pull Request

on:
  pull_request:
    branches:
      - daily
      - release/alpha
      - master
    paths:
      - ".github/workflows/**"
      - "packages/**"
      - "services/web/**"

env:
  WEB_IMAGE_NAME: liexp-web

jobs:
  install:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-deps
        with:
          hash: ${{ hashFiles('**/yarn.lock') }}

  lint:
    runs-on: ubuntu-latest
    needs: [install]
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-deps
        with:
          hash: ${{ hashFiles('**/yarn.lock') }}

      - uses: ./.github/actions/build-packages
        with:
          hash: ${{ github.sha }}

      - name: Lint code
        run: yarn web lint

  build:
    runs-on: ubuntu-latest
    needs: [install]

    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/install-deps
        with:
          hash: ${{ hashFiles('**/yarn.lock') }}

      - uses: ./.github/actions/build-packages
        with:
          hash: ${{ github.sha }}

      - uses: actions/cache@v3
        with:
          path: |
            services/**/build
          key: web-build

      - name: Type Check Web
        run: yarn web build

      - name: Build Web App
        run: yarn web build:app-server

  docker-build:
    if: ${{ github.head_ref == 'release/alpha' }}
    runs-on: [ubuntu-latest]
    needs: [build]
    steps:
      - uses: actions/checkout@v4

      - name: Log in to registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build WEB image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./web.Dockerfile
          push: false
          tags: ${{ env.WEB_IMAGE_NAME }}
